reset()

@import 'variables.styl'

@import 'includes/default.styl'
@import 'includes/typography.styl'
@import 'includes/control.styl'
@import 'includes/components.styl'
// @import 'includes/container.styl'
@import 'includes/nav.styl'
@import 'includes/animation.styl'

@import 'includes/home.styl'
@import 'includes/whyme.styl'
@import 'includes/skills.styl'
@import 'includes/examples.styl'
@import 'includes/services.styl'
@import 'includes/contacts.styl'