$navWidth = 220

$primary = #59DBD5 
$secondary = #43A39F
$dark = #055154
$light = #e7e5e4
$bg =  #055154

$colorGrey = #8d8d8d
$colorDark = #505050


$duration = 0.4
$duration_slow = 3

$boxShadow = 0 0 5px 1px rgba(0,0,0,.6)
$boxShadowHovered = 0 6px 4px 2px rgba(0,0,0,.2)

$font = Rubik
$fontText = Montserrat

@font-face {
    font-family: $font;
    src: url('../fonts/Rubik-Medium.ttf')
}

@font-face {
    font-family: $fontText;
    src: url('../fonts/Montserrat-Medium.ttf')
}