.btn
    padding: 6px 15px
    border: none
    // border: 1px solid $light
    border-radius: 20px
    outline: none
    background: #ffffff
    cursor: pointer
    color $colorGrey
    margin: 5px 8px
    transition: ($duration)s
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2)
    &:hover
        transform: scale(1.1)
        color: $primary
    &-primary
        color: #ffffff
        box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2)
        font-weight: 600
        background-color: $primary
        &:hover
            color: #ffffff

.ipt
    padding: 6px 15px
    border: 1px solid $light;
    // border: 1px solid $light
    border-radius: 3px
    outline: none
    background: #ffffff
    cursor: auto
    color $colorGrey
    margin: 5px 8px
    transition: ($duration)s
    // box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2)
    border: 
    &:hover
        transform: scale(1.1)
        color $colorGrey
textarea.ipt
    &:hover
        transform: scale(1)
