#about_bg
    position: absolute
    min-width 100vw
    top: 0
    bottom: 0
    right: 0
    height 100vh
.home-section
    min-height auto
    padding-top 100px
    position relative
    top -40px

.home
    z-index: 2
    color: #ffffff
    .text-block
        max-width 920px
