.skills
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
    .skill
        display flex
        padding: 10px
        flex-basis: 200px
        width: 100%
        max-width 250px
        flex-grow: 1
        min-width: 200px
        align-items: center
        margin: 10px
        animation-delay: 200ms
        &-logo
            font-size: 2em
            color: #ffffff
            margin-right: 10px
            img
                width: 34px
        &-label
            color: $primary
        &-description
            color: $light