.question
    flex-direction: row
    li
        flex-basis: 49%
        width: 48%
        flex-grow: 1
        .question-icon
            width: 64px
            height: 64px
            margin-right: 15px
        p
            padding: 7.5px 20px
