h2.section-title.color-white(data-before="!!", data-after="!!") About me
div(style="z-index: 2").blog-content
    div.LI-profile-badge(data-version="v1", style="float: right" ,data-size="medium", data-locale="ru_RU", data-type="vertical", data-theme="dark" ,data-vanity="Sasha-honchar")
        a.LI-simple-link(href='https://ua.linkedin.com/') Sasha Honchar
    h4 
        strong Why did I wanted to become a <strong>JS</strong> developer?
    p
        |  I always wanted to create something beautiful, something special, something useful for people.
        |  But for a long time I could not find my calling. 
        |  And once I saw how my
        b  friend
        |  (also a developer) was creating one site and it became very interesting to me.
        |  I began to ask him all the details, how create a wonderfull site? What is needed for this? Where do I begin?
        |  I liked everything so much that I told myself 
        b "That's what you've been looking for so long."
        |  And I began to learn programming.
        |  I chose this as my profession when entered to the university and 
        b  I still like what I do.
    p.mb-15  And so after some time, step by step I reached my goal and became a 
        strong Senior Full Stack Developer
        |  During this period, I drank so many cups of 
        b coffee
        |  that one could build a small pyramid)
    h4 
        b What projects would I like to work with?
    p.mb-15 With big, interesting and most importantly complex) I think that the more complex the project, the more opportunities there are to show yourself and your skills.
    
    h4 
        b What Does a <strong>Full Stack Developer</strong> Do?
    p.mb-15 
        | Evrything! I mean evrything! 
        | <strong>Full Stack Developer</strong> are professionals who specialize in web development, mobile app development, desktop app development, server configuration, UI / UX.
        | They are adept in designing, coding, and modifying your services. 
        | Web Developers handle processes related to the layout and function of websites. 
        | They work with client’s to meet specific expectations, and strive to create visually appealing and functional services. 
        | An ideal candidate possesses superior knowledge of user interface and general web functions.