h2.section-title.color-white(data-before="(", data-after=")") Lates work

.flex.flex-align-start.flex-justify-center
    .examples.flex.flex-align-start.flex-justify-center
    .device-list.blog-content
        //- NDA
        //- .example-item.fade.fade-right.animated(data-animate="active", data-start="scroll")
        //-     .device-wrapper 
        //-         .mobile.device-shadow
        //-             .monitor.lazy-load(realbg="jm_main")
        //-         .mobile.device-shadow
        //-             .monitor.lazy-load(realbg="jm_qr")
        //-         .mobile.device-shadow
        //-             .monitor.lazy-load(realbg="jm_map")
        //-     .example-content
        //-         strong.flex-justify-se.flex
        //-             a.snake.color-secondary(href="https://play.google.com/store/apps/details?id=com.jobmap&hl=ru") JobMap (Android)
        //-             a.snake.color-secondary(href="https://apps.apple.com/us/app/jobmap-find-jobs-around-you/id1484863357") JobMap (iOS)
        //-         .platform-list
        //-             strong Platform:
        //-                 span  Android IOS
        //-         p.card-description 
        //-             | <a href="https://www.jobmap.co/">JobMap</a> will help you find local jobs so that you can easily apply to local employers without the hassle of a useless commute - all with the help of video selfies, instant messaging, attachable CV, etc...
        //-             | Explore jobs on the map, discover hidden opportunities & even see the latest history of your sent resumes. JobMap keeps your life simple.
        .example-item.fade.fade-left.animated(data-animate="active", data-start="scroll")
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="ng_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="ng_mobile")
            .example-content
                strong
                    a.snake.color-secondary(href="https://ezone.gg/") Ezone.gg
                .platform-list
                    strong Platform:
                        span  Web
                p.card-description 
                    | <a href="https://ezone.gg/">Ezone.gg</a> — the first free-to-play eSport manager simulator. 
                    | Here you can create your dream team and decide what it will do. Manage your funds and players’ contracts, train your team, fight with other users for the best prizes — real skins in <strong>CS:GO</strong>!!!
                    | All you need to do is register in our game and start playing.
                    | Enjoy!
        .example-item.fade.fade-down.animated(data-animate="active", data-start="scroll")
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="nomis_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="nomis_mobile")
            .example-content
                strong
                    a.snake.color-secondary(href="http://nomis.com.ua") Nomis
                .platform-list
                    strong Platform:
                        span  Web
                p.card-description The <a href="http://nomis.com.ua">NOMIS</a> analytics service helps you understand how decent and solvent your potential or current supplier, buyer, or competitor is.
        .example-item.fade.fade-right.animated(data-animate="active", data-start="scroll")
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="jlme_desktop")
            .example-content
                strong 
                    a.snake.color-secondary(href="https://chrome.google.com/webstore/detail/justlabelme/bpfpmjjojjekdeliaeepcnccikcjpiph") JustLabelMe (Browser Extension)
                .platform-list
                    strong Platform:
                        span  Web, Chrome, Firefox
                p.card-description Provides the ability to transform & print FBA shipping and product labels while you are on Amazon Seller Central with a single click
                