head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-EN-Compatible", content="ie=edge")
    meta(name="keywords" content="website development, advancement, webstudio, web studio, internet business, freelance, work, job, HTML, CSS, XML, JavaScript, js, nodejs, application, web, website, build, buisness, create, php, larawel, mongoDb, seo, webstudio")
    meta(name="description" content="website development, mobile application development, web studio, internet business, freelance, developer, senior, work, job, HTML, CSS, XML, JavaScript, js, nodejs, react native, RN, electron, application, web, website, build, buisness, create, php, larawel, mongoDb, seo, webstudio")
    link(href="./assets/img/icon/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(href="./assets/styl/main.styl", rel="stylesheet")
    link(href='./assets/css/devicons.min.css', rel='stylesheet')
    link(rel="canonical" href="https://webdeva.herokuapp.com")
    link(rel="canonical" href="https://webdeva.herokuapp.com/about")
    link(rel="canonical" href="https://webdeva.herokuapp.com/whyme")
    link(rel="canonical" href="https://webdeva.herokuapp.com/skills")
    link(rel="canonical" href="https://webdeva.herokuapp.com/examples")
    link(rel="canonical" href="https://webdeva.herokuapp.com/services")
    link(rel="canonical" href="https://webdeva.herokuapp.com/contacts")
    title