.flex.flex-align-center.flex-justify-center.full-width.home
    .flex.flex-justify-sb.flex-align-center.full-width.mb-30
        span.color-primary.text-bracket(data-keywords="Frontend, React JS, Vue JS, Angular, React Native, Electron")
        span.color-primary.text-bracket(data-keywords="Backend, Node JS, Express, Koa, MongoDB, MySql, Redis, Postgres")
    .text-block
        h1.subtitle.color-white.text-center.mb-15 Looking <strong>Full Stack JavaScript Developer</strong>?
        //- h3.color-white.text-center.mb-15 You Just Find Him!
        h4.text-center.full-width.color-white
            |   Hi 👋, My name is <strong>Sasha Honchar</strong>, I'm a <strong>Full Stack JavaScript Developer</strong> with more than 7 years of experience in development.
            |   I have a strong experience in JS (<strong>React</strong>, <strong>Vue</strong>, <strong>Node</strong>, <strong>ReactNative</strong>, <strong>Electron</strong>). 
            |   Had a lot of high-loaded projects in my career, there were simple e-commerce websites, complex online services, SaaS, API Servers
    .flex.flex-justify-sb.flex-align-center.full-width.mt-30
        span.color-primary.text-bracket(data-keywords="Reliability, Responsiveness, Skillful :), Punctuality, Honest")
        span.color-primary.text-bracket(data-keywords="Github, Bitbucket, Gitlab, Jira, Trello")
        