header.header#header
    .header-logo
        img(src="./assets/img/me1.jpg", alt="Me")
        h2.logo-label SASHA.
    .nav-toggle_menu#nav-toggle_menu.transition
        span.dots-line
        span.dots-line
        span.dots-line
nav#nav.nav
    div.flex.flex-align-center.flex-column.flex-justify-column.nav-mobile
        .logo-wrapper.mb-25
            a(href="https://www.linkedin.com//", target="_blank").icon-button
                img.contact-logo(src="./assets/img/icon/linkedin.png")
            a(href="skype:", target="_blank").icon-button
                img.contact-logo(src="./assets/img/icon/skype-primary.svg")
            a(href="mailto:Sashahdev23@gmail.com", target="_blank").icon-button
                img.contact-logo(src="./assets/img/icon/gmail-primary.svg")
            a(href="https://telegram.me/sashadev23", target="_blank").icon-button
                img.contact-logo(src="./assets/img/icon/telegram.png")
            .logo
                img(src="./assets/img/me1.jpg")

        a.snake.color-secondary(href="https://docs.google.com/")
            | Download CV
        

        ul.list
            //- li.list-item.flex.flex-justify-center.hide
            //-     a.link.link-local.text-uppercase(href="/home", title="Why Me").btn.btn-primary Home
            li.list-item.flex.flex-justify-center
                a.link.link-local.text-uppercase(href="/about-me", title="About Me").btn.btn-primary About Me
            li.list-item.flex.flex-justify-center
                a.link.link-local.text-uppercase(href="/why-me", title="Why Me").btn.btn-primary Why Me?
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="/examples", title="Lates work").btn Lates work
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="/skills", title="Skills").btn Skills
            //- li.list-item.flex-justify-center.flex
            //-     a.link.link-local.text-uppercase(href="/services", title="Services").btn Services
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="/contacts", title="Contacts").btn Get in Touch
    //- .nav-links
    //-     ul.flex.flex-align-center.flex-justify-sb
    //-         li.transition.hover-animate-scale
    //-             a(href="https://github.com/Sasha-Honchar", target="_blank")
    //-                 span.icon.devicons.devicons-github_badge.icon-shadow
    //-         li.transition.hover-animate-scale
    //-             a(href="https://github.com/Sasha-Honchar", target="_blank")
    //-                 span.icon.devicons.devicons-codepen.icon-shadow
    //-         li.transition.hover-animate-scale
    //-             a(href="https://bitbucket.org/Sasha_Honchar/", target="_blank")
    //-                 span.icon.devicons.devicons-bitbucket.icon-shadow
