h2.section-title.color-white(data-before="{{", data-after="}}") Services
.service.flex.flex-justify-sa.flex-align-center
    ul.plank.flex.flex-column.flex-justify-center.flex-align-center.animated(data-animate="slideInLeft", data-start="scroll")
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img.lazy-load(src="./assets/img/no-image.png" realsrc="./assets/img/icon/computer.png", alt="")
            h4.subtitle.mb-10.color-primary.text-center
                strong Native app
            p.description.color-white.mb-15.text-center Build cross platform desktop and mobile apps 
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img.lazy-load(src="./assets/img/no-image.png" realsrc="./assets/img/icon/brain.svg", alt="")
            h4.subtitle.mb-10.color-primary.text-center
                strong Optimization
            p.description.color-white.mb-10.text-center Optimizing applications, running and load speed
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img.lazy-load(src="./assets/img/no-image.png" realsrc="./assets/img/icon/api.svg", alt="")
            h4.subtitle.mb-10.color-primary.text-center
                strong Backend development
            p.description.color-white.mb-15.text-center Create and support a web server for any needs
    .plank.animate.transition.pulse.animation-slow
        img.lazy-load(src="./assets/img/no-image.png" realsrc="./img/services.png", alt="")
    ul.plank.flex.flex-column.flex-justify-center.flex-align-center.animated(data-animate="slideInLeft", data-start="scroll")
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img.lazy-load(src="./assets/img/no-image.png" realsrc="./assets/img/icon/resp.png", alt="")
            h4.subtitle.mb-10.color-primary.text-center
                strong Web
            p.description.color-white.mb-15.text-center Responsive web application and simple sites
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img.lazy-load(src="./assets/img/no-image.png" realsrc="./assets/img/icon/vector.png", alt="logo Design")
            h4.subtitle.mb-10.color-primary.text-center
                strong Logo Design
            p.description.color-white.mb-15.text-center Design a professional yet creative logo that reflects your company’s spirit and leaves a lasting, memorable effect.
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img.lazy-load(src="./assets/img/no-image.png" realsrc="./assets/img/icon/feature.svg", alt="")
            h4.subtitle.mb-10.color-primary.text-center
                strong Unique Features
            p.description.color-white.mb-15.text-center Each my project has its own feature