
h2.section-title.color-white(data-before="↓↓", data-after="↓↓") Employment history and Education
.flex.flex-align-center.flex-justify-center.full-width
    ul.list.flex.blog-content.flex-align-start.mt-25
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Senior FullStack Developer</strong> at Sellbe, Kive Ukraine
                h5.color-secondary.mb-15
                    | March 2016 - Present
                ul
                    li.color-light.point.mb-15 Wrote <strong>Database</strong> statements and stored procedures.
                    li.color-light.point.mb-15 Effective convertation client requirements into application <strong>UI</strong>/<strong>UX</strong> and <strong>System Requirements</strong>  
                    li.color-light.point.mb-15 Development <strong>PoC</strong>
                    li.color-light.point.mb-15  <strong>AI</strong> / <strong>AR</strong> Solutions and development.
                    li.color-light.point.mb-15 Provide effective trobleshotting and remediation for apps.
                    li.color-light.point.mb-15 <strong>Mobile</strong> apps development (<strong>ReactNative<strong>, <strong>Ionic</strong>) 
                    li.color-light.point.mb-15 Followed policies and procedures related to application methods and quality standards at all times.
                    li.color-light.point.mb-15 Teching Junior and Middle developers
                    
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Middle Full Stack Developer</strong> at Atey, Kive Ukraine
                h5.color-secondary.mb-15
                    | March 2014 - March 2015
                ul
                    li.color-light.point.mb-15 Participating in discussions with clients to clarify what they want. 
                    li.color-light.point.mb-15 Desktop apps development based on <strong>Electron</strong> and <strong>NWK</strong>. 
                    li.color-light.point.mb-15 Identifying and correcting software deficiencies. 
                    li.color-light.point.mb-15 Settings up new projects (<strong>Webpack</strong>, <strong>Gulp</strong>, <strong>Parcel</strong> etc.)
                    li.color-light.point.mb-15 Planned, developed, tested, deployed, and maintained web applications. 
                    li.color-light.point.mb-15 Creating styles (<strong>css, sass, stylus</strong>) modules. 
                    li.color-light.point.mb-15 Supporting Web Applications
                    li.color-light.point.mb-15 <strong>Brower Extensions</strong> Development
                    li.color-light.point.mb-15 Web services development. 
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Master of Computer Applications (MCA)</strong> , National Technical University of Ukraine "Kyiv Polytechnic Institute"
                h5.color-secondary.mb-15
                    | September 2009 - August 2015
